.portfolio__container__detials {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-top: 2rem;
}

ul li {
  color: white;
  list-style: disc;
}
h4 {
  font-weight: bolder;
}

.home{
  margin: 2rem;
  position: fixed;
}
@media screen and (max-width: 600px) {
  .home{
    margin: 1rem;
  }
}